<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <span>film</span>qvz</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item" data-ng-class="{active:item.isActive}" data-ng-if="item.isVisible" data-ng-repeat="item in $ctrl.topNavigation">
            <a class="nav-link" ui-sref="{{item.sref}}">{{item.text}}</a>
        </li>
    </ul>
    <div class="navbar-text">
        <div data-logout-button></div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ui-view></ui-view>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
            <footer>
                <p>{{$ctrl.year}} - Nick Frederiksen</p>
            </footer>
        </div>
    </div>
</div>