<h1>

    {{$ctrl.welcome}}
</h1>

<h2>Teams</h2>

<div class="row">
    <div class="col-2" data-ng-repeat="team in $ctrl.teams.OwnTeams track by team.Id">
        <div class="card">
            <div class="card-body">
                <h4>
                    {{team.Name}}
                </h4>
                <span class="badge badge-secondary">{{team.CreatedDate | date:'dd/MM/yyyy'}}</span>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary" ui-sref="app.team({id:team.URL})">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Visit
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2" data-ng-repeat="team in $ctrl.teams.SubscribedTeams track by team.Id">
        <div class="card">
            <div class="card-body">
                <h4>
                    {{team.Name}}
                </h4>
                <span class="badge badge-secondary">{{team.CreatedDate | date:'dd/MM/yyyy'}}</span>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary" ui-sref="app.team({id:team.URL})">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Visit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>