<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="#">FilmQZ</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item" data-ng-class="{active:item.isActive}" data-ng-if="item.isVisible" data-ng-repeat="item in $ctrl.topNavigation">
            <a class="nav-link" ui-sref="{{item.sref}}">{{item.text}}</a>
        </li>
    </ul>
    <div class="navbar-text">
        <div data-logout-button></div>
    </div>
</nav>

<div class="container-fluid">
    <ui-view></ui-view>
    <hr />
    <footer>
        <p>{{$ctrl.year}} - Nick Frederiksen</p>
    </footer>
</div>