<form class="form-login" role="form" data-ng-submit="$ctrl.login()">

    <h2 class="form-login-heading">Login</h2>

    <input type="text" class="form-control" placeholder="Username" data-ng-model="$ctrl.loginData.Email" required autofocus>

    <input type="password" class="form-control" placeholder="Password" data-ng-model="$ctrl.loginData.Password" required>

    <button class="btn btn-lg btn-info btn-block" type="submit">Login</button>

    <div data-ng-hide="$ctrl.message == ''" class="alert alert-danger">

        {{$ctrl.message}}

    </div>

</form>


<a ui-sref="manage.manageGames" class="card-link">Manage</a>